# Crawl Init file

autofight_stop = 75
hp_warning = 50
default_manual_training = true

auto_butcher=full
view_delay = 50

{
local need_skills_opened = true
function ready()
  if you.turns() == 0 and need_skills_opened then
    need_skills_opened = false
    crawl.sendkeys("m")
  end
end
}

# Force mores
force_more_message += distortion
#force_more_message += holy wrath
force_more_message += You.*teleport [^f]

# Bad things
stop += You fall through a shaft
stop += You are sucked into a shaft! .*
stop += An alarm trap emits a blaring wail
stop += (blundered into a|invokes the power of) Zot
stop += A huge blade swings out and slices into you!
stop += flesh start
stop += (starving|feel devoid of blood)
stop += wrath finds you
stop += lose consciousness
stop += watched by something
stop += appears from out of your range of vision

# Spell Slots
spell_slot += Blink:b
spell_slot += Conjure Flame:c
spell_slot += Mephitic Cloud:d
spell_slot += Infusion:e
spell_slot += Regeneration:h
spell_slot += Ignition:i
spell_slot += Deflect Missiles:m
spell_slot += Apportation:n
spell_slot += Shroud of Golubria:q
spell_slot += Swiftness:r
spell_slot += Sticky Flame:s
spell_slot += Poisonous Vapours:s
spell_slot += Bolt of Fire:v
spell_slot += Bolt of Cold:v
spell_slot += Song of Slaying:w
spell_slot += Fireball:x
spell_slot += Stone Arrow:x

# Inscription
ai := autoinscribe

ai += curing:@q1
ai += heal wounds:@q2
ai += identify:@r1
ai += remove curse:@r2
ai += scrolls? of teleportation:@r3
ai += magic mapping:@r4

ai += phantom mirror:=g
